{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog.css' %}">
{% endblock %}

{% block content %}
  <div class="row" style="height:100%;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br>
      <h1 id="header">Food of Urbana-Champaign</h1>
      <div class="row">
        <div class="col-md-7">
          {# <img src="{% static 'blog/green_street.jpg' %}" alt="green street" style="width:100%;"> #}
        </div>
        <div class="col-md-5">

          {# <h1>Explore the culinary offerings of U of I</h1> #}
        </div>

      </div>
      <br>
      <h2>Recent Updates</h2>
      <hr>
      {% for review in all_reviews %}
      <a href="{% url 'post' review.id %}" class="post-link">
        <div class="post-tab">
          <div class="row">
            <div class="col-md-9">
              <p>{{ review.date }}</p>
              <h2>{{review.name}} at {{review.resturant}}</h2>
            </div>
            <div class="col-md-3">
              <img src="{{ MEDIA_URL }}/{{ review.images }}" alt="food_picture" style="height:100%;float:right;">
            </div>
          </div>
        </div>
      </a>
      <hr>
      {% endfor %}

    </div>
    <div class="col-md-3"></div>

  </div>
<br>
{% endblock %}
