{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Blog{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog.css' %}">
{% endblock %}

{% block content %}
<div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br>
      <h1 id="header">{{review.name}} at {{review.resturant}}</h1>
      <h5 style="color:grey;">Location: {{review.resturant}} | {{review.date}}</h5>
      <br>
      <img src="{{ MEDIA_URL }}/{{ review.images }}" alt="food_picture" style="width:100%;">

      <hr>
      <div class="row">
        <div class="col-md-6">
          <h5>Rating</h5>
          <div class="taste">
            <div class="row">
              <div class="col-md-2">
                <p>Taste:</p>
              </div>
              {% for x in "0123456789" %}
                <div class="col-md-1">
                  {% if forloop.counter <= review.taste_rating %}
                    <img src="{% static 'blog/star_filled.png' %}" alt="star">
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="health">
            <div class="row">
              <div class="col-md-2">
                <p>Health:</p>
              </div>
              {% for x in "0123456789" %}
                <div class="col-md-1">
                  {% if forloop.counter <= review.health_rating %}
                    <img src="{% static 'blog/star_filled.png' %}" alt="star">
                  {% endif %}
                </div>
              {% endfor %}
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <h5>Nutrients</h5>
          <div class="row">
            <div class="col-md-6">
              <p>Calories: {{review.calories}}</p>
              <p>Protein: {{review.protein}}</p>
            </div>
            <div class="col-md-6">
              <p>Carbs: {{review.carbs}}</p>
              <p>Fat: {{review.fat}}</p>
            </div>
          </div>
        </div>

      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <p><span style="color:lightgray">Posted by:</span><br><b>Puming Li</b><br>{{ delta }}</p>
        </div>
        <div class="col-md-8">
          <p style="text-align:justify;text-justify:inter-word;">{{review.review}}<p>
        </div>
        <div class="col-md-2">
          <div style="text-align: center;">
            <a href="" class="align-bottom" id="up-vote" style="width:30%;"><img src="{% static 'blog/up_arrow.png' %}" alt="up_arrow"></a>
            <div id="review-score">
              <p style="font-size:22px;margin:0px;">{{ review.score }}</p>
            </div>
            <a href="" class="align-bottom" id="down-vote" style="width:30%;"><img src="{% static 'blog/down_arrow.png' %}" alt="down_arrow"></a>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-2">
          <h5>Comments</h5>
        </div>
        <div class="col-md-8">
          {% if review.comment_set.all|length == 0 %}
            <br>
            <p style="color:grey;text-align:center;">No Comments</p>
            <br>
          {% else %}
            {% for comment in review.comment_set.all %}
              <p style="margin:0px;"><b>{{comment.name}}</b> <span style="color:lightgrey;">posted:</span></p>
              <p>{{comment.comment}}</p>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".add-review" style="float:right;background-color:#33001a;color:white;">Add Comment</button>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade add-review" tabindex="-1" role="dialog" aria-labelledby="exerciseModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <form action="{% url 'add_comment' review.id %}" method="post" autocomplete="off">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Comment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_exercise_name">Name</label>
                {% render_field form.name class+="form-control"|append_attr:"readonly:readonly" placeholder="Anonymous" %}
              </div>
              <div class="form-group">
                <label for="id_exercise_sets">Comment</label>
                {% render_field form.comment class+="form-control"|append_attr:"readonly:readonly" placeholder="Comment..." %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
        </div>
      </div>

    </div>
    <div class="col-md-3"></div>

  </div>
</div>
<br>


<script>
document.getElementById("up-vote").addEventListener("click", function(event){
    event.preventDefault()
    var dest = "/blog/vote/" + "{{ review.id }}" + "/up";
    $.ajax({
      url: dest,
      success: function(data) {
      $('#review-score').html(data);
      }
    });
});

document.getElementById("down-vote").addEventListener("click", function(event){
    event.preventDefault()
    var dest = "/blog/vote/" + "{{ review.id }}" + "/down";
    $.ajax({
      url: dest,
      success: function(data) {
      $('#review-score').html(data);
      }
    });
});

</script>

{% endblock %}
