body {
  /* margin: 0; */
  font-family: Questrial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    float: right;
    height: 100%;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #1a000d;
    color: #993333;
}

.title-link {
  color: white;
  text-decoration: none;
}

.title-link:hover {
    color: #993333;
    text-decoration: none;
}

.bottom-link {
  font-size: small;
  line-height: 6.5;
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-decoration: none;
}

.bottom-link:hover {
    color: #993333;
    text-decoration: none;
}

.bottom-text {
  margin-top: 35px;
  font-size: small;
  color: white;
  float: right;
}

.nav-bar {
  margin: 0;
  padding: 0;
  height: 8%;
  background-color: #33001a;
}

.bottom-nav-bar {
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 8%;
  background-color: #33001a;
}


.nav-text {
    line-height: 3.4;
    display: inline-block;
    vertical-align: middle;
}


.web-title {
  float: left;
  color: white;
  line-height: 2.8;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}
