.calendar-link:hover {
    text-decoration: none;
}

.calender-day:hover {
  border: 2px solid black;
  background-color: rgba(255, 153, 153, 0.1);
  color: rgba(51, 0, 26, 0.5);
}

.calender-day {
  color: black;
  padding: 10px;
  border:2px solid grey;
  border-radius: 5px;
  height: 200px;
  margin: 5px;
  text-align: center;
}

.content-card {
  color: black;
  padding: 10px;
  border:2px solid grey;
  border-radius: 5px;
  margin: 5px;
}

.not-month-day {
  color: #bfbfbf;
}

.current-day {
  color: #862d59;
}

.prev-span {
  float: left;
}

.next-span {
  float: right;
}


table {
  table-layout: fixed;
}
