{% extends 'base.html' %}
{% load static %}
{% load index %}
{% load widget_tweaks %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'bayes.css' %}">
{% endblock %}

{% block title %}Naive Bayes{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <br>
    <h1>Naive Bayes <span style="font-size:20px;color:grey;">(Under Construction)</span></h1>
    <br>
  </div>
  <div class="col-md-3"></div>
</div>

{% endblock %}
