container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  01_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: pumingweb/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static": "static/"
