{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <br>
    <div class="row">
      <div class="col-md-8">
        <div class="contact">
          <h1>Puming Li</h1>
          <p>University of Illinois at Urbana-Champaign | August 2015 - May 2019</p>
          <h4>Contact</h4>
          <p>Email: pli29@illinois.edu<br>Phone: 925-353-7400</p>
          <h4>Social</h4>
          <p>LinkedIn: <a href="https://www.linkedin.com/in/pumingli/">https://www.linkedin.com/in/pumingli/</a><br>Github: <a href="https://github.com/PumingLi">https://github.com/PumingLi</a><br>Instagram: @dirtydaveli</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="profile-pic">
          <img src="{% static 'profile.jpg' %}" alt="profile" style="width:100%;">
        </div>
      </div>
    </div>
    <hr>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <div style="height:100%">
    </div>

  </div>
  <div class="col-md-3"></div>
</div>

{% endblock %}
