{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <br>
    <div class="row">
      <div class="col-md-8">
        <div class="contact">
          <h1>Puming Li</h1>
          <p>University of Illinois at Urbana-Champaign | August 2015 - May 2019 <br><b>Bachelors of Science in Computer Engineering</b></p>

          <h4>Contact</h4>
          <p>Email: pli29@illinois.edu<br>Phone: 925-353-7400</p>
          <h4>Links</h4>
          <p>LinkedIn: <a href="https://www.linkedin.com/in/pumingli/">https://www.linkedin.com/in/pumingli/</a><br>Github: <a href="https://github.com/PumingLi">https://github.com/PumingLi</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="profile-pic">
          <img src="{% static 'profile.jpg' %}" alt="profile" style="width:100%;">
        </div>
      </div>
    </div>
    <hr>
    <div>
      <h1>Experience</h1>
      <div class="row">
        <div class="col-md-8">
          <h3 style="float:left;">Technical Consulting Intern | Zuora Inc.</h3>
        </div>
        <div class="col-md-4">
          <small style="float:right;color:grey;">San Mateo, CA Summer 2018</small>
        </div>
        <div class="col-md-8">
          <ul>
            <li>Worked as Technical Consulting Intern at Zuora, a B2B subscription management platform, doing full-stack development</li>
            <li>Developed and deployed web application to Connect App Platform that allows users to compare and migrate the settings from one tenant to another, as well as the ability to import/export settings as JSON to manually edit or compare values locally</li>
            <li>Written using Rails framework for the control/routing/models of the app, and Ruby code for the API and data cleaning logic</li>
            <li>PostgreSQL was used to keep records of the settings values for any tenant account loaded into the app, in addition to the records of any past migrations and the statuses of the settings migrated</li>
            <li>Used HTML, Jquery, Bootstrap, and custom CSS to create dynamic and responsive UI that updates based on user input</li>
            <li>Visual comparisons of settings values as well as real-time statuses of migration and importing/export progress through UI</li>
          </ul>
        </div>
        <div class="col-md-4">
          <br>
          <img src="{% static 'zuoraicon.png' %}" alt="Xignite Icon" style="width:60%;float:right;">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3 style="float:left;">Software Developer Intern | Xignite Inc.</h3>
        </div>
        <div class="col-md-4">
          <small style="float:right;color:grey;">San Mateo, CA Summer 2017</small>
        </div>
        <div class="col-md-8">
          <ul>
            <li>Interned at Xignite, a market data provider, as software developer Intern working on a team responsible for developing a seamless integration of a new data feed to the front end API</li>
            <li>Developed extensive monitoring and logging framework in Python to insure integrity of new data feeds</li>
            <li>Use of pandas data science Python package to create summarized analytics of data quality in new data feeds as to insure new data quality matches old production quality</li>
            <li>Development of modular GUI executable for a collection of API services for debugging and quality assurance</li>
          </ul>
        </div>
        <div class="col-md-4">
          <img src="{% static 'xigniteicon.png' %}" alt="Xignite Icon" style="width:60%;float:right;">
        </div>
      </div>
      <hr>
      <h1>Skills</h1>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>Python (django, pandas, numpy)</li>
            <li>Ruby (Rails)</li>
            <li>C++</li>
            <li>HTML</li>
            <li>Jquery</li>
            <li>(x86) Assembly</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Java</li>
            <li>SQL (Postgres, SQLite)</li>
            <li>C</li>
            <li>CSS</li>
            <li>Git</li>
            <li>Linux</li>
          </ul>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}
