{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'diet.css' %}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

  var caloriesHash = JSON.parse('{{ calories_data|safe }}');
  var carbsHash = JSON.parse('{{ carbs_data|safe }}');
  var proteinHash = JSON.parse('{{ protein_data|safe }}');
  var fatHash = JSON.parse('{{ fat_data|safe }}');

  var pastelColors = JSON.parse('{{ pastel_colors|safe }}');
</script>
<script type="text/javascript" src="{% static 'js/graphs_details.js' %}"></script>
{% endblock %}

{% block title %}Diet Details{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <br>
    <div class="row">
      <div class="col-md-2">
        <a href="{% url 'day_view' prev_day.0 prev_day.1 prev_day.2 %}" class="align-bottom" style="float:left;"><img src="{% static 'diet/left-arrow.png' %}" alt="left_arrow"></a>
      </div>
      <div class="col-md-8">
        <h1 style="text-align:center;font-family:Galada;">{{ day.weekday }}, {{ day.month.month_num }}/{{ day.cur_date.day }}/{{ day.cur_date.year }}</h1>
      </div>
      <div class="col-md-2">
        <a href="{% url 'day_view' next_day.0 next_day.1 next_day.2 %}" class="align-bottom" style="float:right;"><img src="{% static 'diet/right-arrow.png' %}" alt="right_arrow"></a>
      </div>
    </div>
    <hr>
    <h1>Diet Breakdown</h1>
    <h2 style="text-align:center;">Calories</h2>

    <div id="calories-donut" style="width: 100%; height: 50%"></div>

    <div class="row">
      <div class="col-md-4">
        <h3 style="text-align:center;align:center;">Protein</h3>
        <div id="protein-donut" style="align:center; width:100%; height:40%"></div>
      </div>
      <div class="col-md-4">
        <h3 style="text-align:center;align:center;">Carbohydrates</h3>
        <div id="carb-donut" style="align:center; width:100%; height:40%"></div>
      </div>
      <div class="col-md-4">
        <h3 style="text-align:center;align:center;">Fats</h3>
        <div id="fat-donut" style="align:center; width:100%; height:40%"></div>
      </div>
    </div>
    <hr>

    <!-- FOOD DATATABLE -->

    <div class="row">
      <div class="col-md-6">
        <h1>Food Datatable</h1>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn float-right" data-toggle="modal" data-target=".add-food-modal" style="background-color:#33001a;color:white;">Add Food Item</button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade add-food-modal" tabindex="-1" role="dialog" aria-labelledby="foodModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Food Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Type into search bar, select which meal, and click on the item that matches your search.</p>
            <div class="form-inline" style="width:100%">
              <input type="text" class="form-control" id="search-value" placeholder="Search Food..." style="width:85%;">
              <button id="search-button" class="btn btn-primary" type="button" name="button" style="width:15%;background-color:#33001a;color:white;">Search</button>
            </div>
            <hr>
            <div id="cur_time" style="height:50%;overflow-y:auto;max-width:100%;overflow-x:hidden;">
              <p style="text-align:center;font-size:30px;margin-top:25%;color:lightgrey">Search Food To Add</p>
            </div>
          </div>
          <div class="modal-footer">
            <select id="select-meal" class="custom-select">
              <option selected>Breakfast</option>
              <option value="1">Lunch</option>
              <option value="2">Dinner</option>
              <option value="3">Snack</option>
              <option value="4">Other</option>
            </select>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <table class="table" style="width: 100%">
      <thead>
        <tr>
          <th scope="col">Food</th>
          <th scope="col">Meal</th>
          <th scope="col">Calories</th>
          <th scope="col">Protein</th>
          <th scope="col">Carbs</th>
          <th scope="col">Fat</th>
        </tr>
      </thead>
      <tbody>
        {% for item in day_items %}
        <tr>
          <th scope="row"><small>{{ item.name }}</small></th>
          <td>{{ item.type }}</td>
          <td>{{ item.calories }}</td>
          <td>{{ item.protein }}</td>
          <td>{{ item.carbs }}</td>
          <td>{{ item.fat }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if day_items|length == 0%}
    <br>
    <h3 style="text-align:center;color:lightgrey;"> No Food Added Yet </h3>
    <br>
    {% endif %}
    <hr>


    <!-- EXERCISE MODAL -->


    <div class="row">
      <div class="col-md-6">
        <h1>Exersices</h1>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn float-right" data-toggle="modal" data-target=".add-exercise" style="background-color:#33001a;color:white;">Add Exercise</button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade add-exercise" tabindex="-1" role="dialog" aria-labelledby="exerciseModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <form action="{% url 'add_exercise' day.cur_date.year day.month.month_num day.cur_date.day day.day_slug%}" method="post" autocomplete="off">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Exercise</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_exercise_name">Exercise Name</label>
              {% render_field exercise_form.exercise_name class+="form-control"|append_attr:"readonly:readonly" placeholder="Bench Press" %}
            </div>
            <div class="form-group">
              <label for="id_exercise_sets">Number of Sets</label>
              {% render_field exercise_form.exercise_sets class+="form-control"|append_attr:"readonly:readonly" placeholder="4" %}
            </div>
            <div class="form-group">
              <label for="id_exercise_reps">Number of Reps</label>
              {% render_field exercise_form.exercise_reps class+="form-control"|append_attr:"readonly:readonly" placeholder="8" %}
            </div>
            <div class="form-group">
              <label for="id_exercise_weight">Weight</label>
              {% render_field exercise_form.exercise_weight class+="form-control"|append_attr:"readonly:readonly" placeholder="135" %}
            </div>
            <div class="form-group">
              <label for="id_exercise_time">Time (Minutes)</label>
              {% render_field exercise_form.exercise_time class+="form-control"|append_attr:"readonly:readonly" placeholder="20" %}
            </div>
            <div class="form-group">
              <label for="id_exercise_type">Type</label>
              {% render_field exercise_form.exercise_type class+="custom-select" %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </form>
      </div>
    </div>



<!-- EXERCISE TABLES -->
  {% if push_exercise|length == 0 and pull_exercise|length == 0 and legs_exercise|length == 0 and cardio_exercise|length == 0 %}
    <br>
    <h3 style="text-align:center;color:lightgrey;"> No Exercises Added Today </h3>
    <br>
    <br>
  {% endif %}

  <div class="row">
    {% if push_exercise|length != 0 %}
      <div class="col-md-6">
        <div class="content-card">
          <h4 style="text-align:center;">Push</h4>
          <table class="table" style="width: 100%; font-size: small">
            <thead>
              <tr>
                <th scope="col">Workout</th>
                <th scope="col">Sets</th>
                <th scope="col">Reps</th>
                <th scope="col">Weight</th>
              </tr>
            </thead>
            <tbody>
              {% for e in push_exercise %}
                <tr>
                  <th scope="row">{{ e.name }}</th>
                  <td>{{ e.sets }}</td>
                  <td>{{ e.reps }}</td>
                  <td>{{ e.weight }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}

    {% if pull_exercise|length != 0 %}
      <div class="col-md-6">
        <div class="content-card">
          <h4 style="text-align:center;">Pull</h4>
          <table class="table" style="width: 100%; font-size: small">
            <thead>
              <tr>
                <th scope="col">Workout</th>
                <th scope="col">Sets</th>
                <th scope="col">Reps</th>
                <th scope="col">Weight</th>
              </tr>
            </thead>
            <tbody>
              {% for e in pull_exercise %}
                <tr>
                  <th scope="row">{{ e.name }}</th>
                  <td>{{ e.sets }}</td>
                  <td>{{ e.reps }}</td>
                  <td>{{ e.weight }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
    {% if legs_exercise|length != 0 %}
      <div class="col-md-6">
        <div class="content-card">
          <h4 style="text-align:center;">Legs</h4>
          <table class="table" style="width: 100%; font-size: small">
            <thead>
              <tr>
                <th scope="col">Workout</th>
                <th scope="col">Sets</th>
                <th scope="col">Reps</th>
                <th scope="col">Weight</th>
              </tr>
            </thead>
            <tbody>
              {% for e in legs_exercise %}
                <tr>
                  <th scope="row">{{ e.name }}</th>
                  <td>{{ e.sets }}</td>
                  <td>{{ e.reps }}</td>
                  <td>{{ e.weight }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}
    {% if cardio_exercise|length != 0 %}
      <div class="col-md-6">
        <div class="content-card">
          <h4 style="text-align:center;">Cardio</h4>
          <table class="table" style="width: 100%; font-size: small">
            <thead>
              <tr>
                <th scope="col">Workout</th>
                <th scope="col">Duration (Min)</th>
              </tr>
            </thead>
            <tbody>
              {% for e in cardio_exercise %}
                <tr>
                  <th scope="row">{{ e.name }}</th>
                  <td>{{ e.time }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
    <br>
  </div>
  <div class="col-md-3"></div>
</div>

<script>
document.getElementById("search-button").addEventListener("click", function(event){
    event.preventDefault()
    var slug = '{{ day.day_slug }}';
    var query = $('#search-value').val();
    var meal = $('#select-meal').val();

    var dest = "/diet/food-search/" + slug + '/' + String(query) + '/' + meal;
    $.ajax({
      url: dest,
      success: function(data) {
      $('#cur_time').html(data);
      }
    });
});
</script>

{% endblock %}
