{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'diet.css' %}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'js/graphs.js' %}"></script>
{% endblock %}

{% block title %}Diet{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br>
      <table style="width:100%">
        <tr>
          <td>
            <a href="{% url 'month_view' prev_year prev_month %}" class="align-bottom" style="float:left;"><img src="{% static 'diet/left-arrow.png' %}" alt="left_arrow"></a>
          </td>
          <td>
            <h1 style="font-family: Galada; text-align: center; font-size: 40px">{{ month.month }} {{ month.year }}</h1>
          </td>
          <td>
            <a href="{% url 'month_view' next_year next_month %}" class="align-bottom" style="float:right;"><img src="{% static 'diet/right-arrow.png' %}" alt="right_arrow"></a>
          </td>
        </tr>
      </table>
    <hr>
    <table style="width:100%" class="diet-calendar">
      {% for week in month_iter %}
      <tr>
        {% for d in week %}
        <td>
          <a href="{% url 'day_view' d.cur_date.year d.cur_date.month d.cur_date.day %}" class="calendar-link">
            <div class=content-card>
              {% if d.cur_date.day == cur_day and d.cur_date.month == cur_month and d.cur_date.year == cur_year %}
                <div class=current-day>
              {% elif d.cur_date.month == month.month_num %}
                <div class=month-day>
              {% else %}
                <div class=not-month-day>
              {% endif %}
              <p style="font-size:small;">{{ d.weekday }}</p>
              <h1>{{ d.cur_date.day }}</h1>
            </div>
            <hr>
            <div class="progress" style="margin-bottom:5px;">
              <div class="progress-bar" role="progressbar" style="width:{% widthratio d.calories daily_p.CALORIES 1 %}%;background-color:#b30000;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{% if d.calories != 0 %}{{d.calories}}{% endif %}</div>
            </div>
            <div class="progress" style="margin-bottom:5px;">
              <div class="progress-bar" role="progressbar" style="width:{% widthratio d.carbs daily_p.CARBS 1 %}%;background-color:#ffcc66;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{% if d.carbs != 0 %}{{d.carbs}}{% endif %}</div>
            </div>
            <div class="progress" style="margin-bottom:5px;">
              <div class="progress-bar" role="progressbar" style="width:{% widthratio d.protein daily_p.PROTEIN 1 %}%;background-color:#ff8c66;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{% if d.protein != 0 %}{{d.protein}}{% endif %}</div>
            </div>
            <div class="progress" style="margin-bottom:5px;">
              <div class="progress-bar" role="progressbar" style="width:{% widthratio d.fat daily_p.FAT 1 %}%;background-color:#ffcccc;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{% if d.fat != 0 %}{{d.fat}}{% endif %}</div>
            </div>
            </div>
          </a>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <br>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
