{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'diet.css' %}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'graphs.js' %}"></script>
{% endblock %}

{% block title %}Diet{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br>
      <table style="width:100%">
        <tr>
          <td>
            <a href="{% url 'month_view' prev_year prev_month %}" class="align-bottom" style="float:left;"><img src="{% static 'left-arrow.png' %}" alt="left_arrow"></a>
          </td>
          <td>
            <h1 style="font-family: Galada; text-align: center; font-size: 40px">{{ month.month }} {{ month.year }}</h1>
          </td>
          <td>
            <a href="{% url 'month_view' next_year next_month %}" class="align-bottom" style="float:right;"><img src="{% static 'right-arrow.png' %}" alt="right_arrow"></a>
          </td>
        </tr>
      </table>
    <hr>
    <table style="width:100%" class="diet-calendar">
      {% for week in month_iter %}
      <tr>
        {% for d in week %}
        <td>
          <a href="{% url 'day_view' d.cur_date.year d.cur_date.month d.cur_date.day %}" class="calendar-link">
            <div class=calender-day>
              {% if d.cur_date.day == cur_day and d.cur_date.month == cur_month and d.cur_date.year == cur_year %}
                <div class=current-day>
              {% elif d.cur_date.month == month.month_num %}
                <div class=month-day>
              {% else %}
                <div class=not-month-day>
              {% endif %}
              <p style="font-size:small;">{{ d.weekday }}</p>
              <h1>{{ d.cur_date.day }}</h1>
            </div>
            <div class="row">
              <div class="col-md-6">
                {# <div id="calories-donut" style="align:center; width:100%; height:30%"></div> #}
              </div>
              <div class="col-md-6">
                {# <div id="protein-donut" style="align:center; width:100%; height:30%"></div> #}
              </div>
              <div class="col-md-6">
                {# <div id="carbs-donut" style="align:center; width:100%; height:30%"></div>\ #}
              </div>
              <div class="col-md-6">
                {# <div id="fat-donut" style="align:center; width:100%; height:30%"></div> #}
              </div>
            </div>
            </div>
          </a>

        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <br>

  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
