{% if foods|length == 0 %}
  <p style="text-align:center;font-size:30px;margin-top:25%;color:lightgrey">No Results</p>
{% else %}
  <div class="row">
    {% for food in foods %}
      <div class="col-md-4">
        <a href="{% url 'add_food_api' slug food.urlsafe_name food.urlsafe_brand food.nf_calories food.nf_total_carbohydrate food.nf_protein food.nf_total_fat meal%}">
        <div style="color: black;padding:10px;border:2px solid grey;border-radius:5px;margin-bottom:10px;">
          <h4>{{food.item_name}}</h4>
          <small style="color:grey;">Brand: {{food.brand_name}}</small>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <small>Calories: {{food.nf_calories}}<br>Carbs: {{food.nf_total_carbohydrate}}</small>
            </div>
            <div class="col-md-6">
              <small>Protein: {{food.nf_protein}}<br>Fat: {{food.nf_total_fat}}</small>
            </div>
          </div>
        </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}
