body {
  margin: 0;
  font-family: Questrial;
}

/* TOP BAR */

.nav-bar-table {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
}

.nav-item {
    float: right;
    height: 70px;
    line-height: 70px;
}

.nav-title {
    float: left;
    height: 70px;
    line-height: 70px;
}

.nav-link {

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: white;
    text-align: center;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #1a000d;
}

.nav-link:hover {
    color: #993333;
}


.title-link {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  text-decoration: none;
}

.web-title:hover {
    color: #993333;
    text-decoration: none;
}





.nav-bar {
  
  margin: 0;
  padding: 0;
  height: 70px;
  line-height: 70px;
  background-color: #33001a;
}


.bottom-nav-bar {
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 70px;
  line-height: 70px;
  background-color: #33001a;
}


.nav-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


.web-title {

  float: left;
  color: white;
  font-size: 30px;
}

/* BOTTOM BAR */

.bottom-link {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  font-size: small;
  text-align: center;
  text-decoration: none;
}

.bottom-link:hover {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: small;
  color: #993333;
  text-decoration: none;
}
